<div class="body">
  <div class="login">
      <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
      <form [formGroup]="form" *ngIf="!loading" (ngSubmit)="ingresar()">
        <img width="50%" src="../../../assets/img/user.png"/>
        <h1>Login</h1>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput autocomplete="off" type="text" formControlName="user">
        </mat-form-field>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput autocomplete="off" type="password" formControlName="password">
        </mat-form-field>
        <button type="submit" mat-flat-button color="primary" 
                class="ancho button" [disabled]="form.invalid">Ingresar</button>
    </form>
  </div>
</div>
